:root {
  --font-body: 'Inter', sans-serif;
  --bg-color: #f5f5f5;
  --text-color: #2E2E2E;
  --link-color: #26C6DA;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-body), sans-serif;
  margin: 0;
  padding: 0;
}
a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
